@model Trainning__Management.Models.Trainee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Img/@Model.ImageUrl" style="width: 150px;border-radius:50%" alt="Avatar" />
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfPassword)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"><i class="bi bi-plus-square"></i>Back to List</a>
</div>
