@model IEnumerable<Trainning__Management.Models.Training>

<h2>All Your Training</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Period</th>
            <th>Start Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model)
        {
            <tr>
                <td>@training.name</td>
                <td>@training.description</td>
                <td>@training.period</td>
                <td>@training.start_date.ToShortDateString()</td>
                <td>
                    <form asp-action="DeleteTraining" method="post" style="display:inline;">
                        <input type="hidden" name="trainingId" value="@training.id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form asp-action="ShowMaterial" method="get" style="display:inline;">
                        <input type="hidden" name="trainingId" value="@training.id" />
                        <button type="submit" class="btn btn-primary">Show Material</button>
                    </form>
                </td>
 
            </tr>
        }
    </tbody>
</table>
