@model IEnumerable<Trainning__Management.Models.Training>
<h1>Training</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i>Add New Training</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.description)</th>
                <th>@Html.DisplayNameFor(model => model.start_date)</th>
                <th>@Html.DisplayNameFor(model => model.period)</th>
                <th>@Html.DisplayNameFor(model => model.Instructor)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.description)</td>
                    <td>@Html.DisplayFor(modelItem => item.start_date)</td>
                    <td>@Html.DisplayFor(modelItem => item.period)</td>
                    <td>@Html.DisplayFor(modelItem => item.Instructor.Username)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary"><i class="bi bi-pencil"></i>Edit</a>
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info"><i class="bi bi-eye"></i>Details</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger"><i class="bi bi-eye"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


