@model IEnumerable<Trainning__Management.Models.Training>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script>
        // Automatically hide the alert after 5 seconds
        setTimeout(function () {
            var alertElement = document.querySelector('.alert');
            if (alertElement) {
                var alert = new bootstrap.Alert(alertElement);
                alert.close();
            }
        }, 5000);
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor.Username)
                </td>
                <td>
                    <form asp-action="AddTraining" method="post">
                        <input type="hidden" name="id" value="@item.id" />
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-plus-square"></i> Add
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

